<main th:fragment="tabela">
    <table class="table table-dark table-bordered table-hover table-responsive-lg">
        <caption th:text="${legenda}"></caption>
        <thead>
            <tr>
                <th>RA</th>
                <th>Nome</th>
                <th>Comentário: Fatec</th>
                <th>Comentário: Livre</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td class="col-xxl-1 col-xl-1 col-lg-1" th:text="${aluno.ra}"></td>
                <td class="col-xxl-2 col-xl-2 col-lg-2" th:text="${aluno.nome}"></td>
                <td class="col-xxl-4 col-xl-4 col-lg-4" th:text="${aluno.comentario.comentarioFatec}"></td>
                <td class="col-xxl-4 col-xl-4 col-lg-4" th:text="${aluno.comentario.comentarioLivre}"></td>
                <td class="col-xxl-1 col-xl-1 col-lg-1">
                    <a  th:attr="onclick=|configurarModal('aprovar', '${aluno.nome}', '/comentarios/pendentes/aprovar/${aluno.comentario.pk_comentario}')|"
                            type="button" data-bs-toggle="modal" data-bs-target="#modalGenerico">
                        <i class="fa-solid fa-thumbs-up text-success"></i>
                    </a>
                    <a th:attr="onclick=|configurarModal('rejeitar', '${aluno.nome}', '/comentarios/pendentes/rejeitar/${aluno.comentario.pk_comentario}')|"
                            type="button" data-bs-toggle="modal" data-bs-target="#modalGenerico">
                        <i class="fa-solid fa-thumbs-down text-danger"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>