<main th:fragment="perfilAdministrador" class="container my-5">
    <div class="card mx-auto bg-dark text-light text-center" style="max-width: 500px;">

        <!-- Informações do administrador -->
        <div class="card-body">
            <h5 class="card-title">
                Perfil do Administrador
            </h5>
            <hr>

            <!-- Nome -->
            <div class="mb-4">
                <strong>Nome:</strong><br>
                <span th:text="${administrador.nome}">
                    Nome do Administrador
                </span>
            </div>

            <!-- E-mail -->
            <div class="mb-4">
                <strong>E-mail:</strong><br>
                <span th:text="${administrador.email}">
                    admin@fatec.sp.gov.br
                </span>
            </div>

            <!-- Cargo -->
            <div class="mb-4">
                <strong>Cargo:</strong><br>
                <span th:text="${administrador.cargo}">
                    Cargo do Administrador
                </span>
            </div>
        </div>

        <!-- Botões de ação -->
        <div class="card-footer p-3">
            <div class="d-flex justify-content-around">
                <a class="btn btn-primary btn-lg px-5 fs-6"
                   th:href="@{/administradores/editar/{id}(id=${administrador.id})}">
                    Editar
                </a>

                <a class="btn btn-danger btn-lg px-5 fs-6"
                   type="button" data-bs-toggle="modal" data-bs-target="#modalId"
                   th:attr="onclick=|excluirRegistro('${administrador.nome}', '/administradores/excluir/${administrador.id}')|">
                    Excluir
                </a>
            </div>
        </div>
    </div>
</main>