<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: geral('Pesquisar Profissões')}"></head>

<body>
    <header th:replace="~{fragments/AdmNavbar}"></header>

    <main th:replace="~{aluno/AlunoFormularioPesquisar}"></main>

    <!-- Resultado da pesquisa quando não está vazia -->
    <th:box th:if="${profissoes != null && !profissoes.isEmpty()}">
        <main th:replace="~{profissao/ProfissaoTabela}"></main>
    </th:box>

    <!-- Resultado da pesquisa quando está vazia -->
    <div th:if="${profissoes == null || profissoes.isEmpty()}" class="card-body text-center text-muted" >
        <p>Nenhuma profissão deste aluno foi encontrada.</p>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>

    <script type="text/javascript" th:src="@{/js/formularioPesquisarAluno.js}"></script>

    <div th:replace="~{fragments/ModalExcluir('trabalho')}"></div>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</body>
</html>