<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: geral('Lista de Cursos')}"></head>

<body>
    <header th:replace="~{fragments/AdmNavbar}"></header>

    <main th:replace="~{curso/CursoTabela}"></main>

    <th:block th:replace="~{curso/CursoPaginacao}"></th:block>

    <footer th:replace="~{fragments/footer}"></footer>

    <div th:replace="~{fragments/ModalExcluir('curso')}"></div>
    <script type="text/javascript" th:src="@{/js/curso.js}"></script>
</body>
</html>
