<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: geral('Lista de Cursos')"></head>

<body>
    <header th:replace="fragments/AdmNavbar"></header>

    <main th:replace="fragments/tabelas :: curso"></main>

    <th:block th:replace="fragments/paginacao"></th:block>

    <footer th:replace="fragments/footer"></footer>

    <div th:replace="fragments/modal :: curso"></div>
    
    <script type="text/javascript" th:src="@{/js/curso.js}"></script>
</body>
</html>
