<header th:fragment="logado">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- Brand -->
        <a class="navbar-brand fs-4 mx-2" href="/alunos">Aluno</a>

        <!-- Toggler/collapse button -->
        <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarContent">

            <!-- Centered Links -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/alunos">
                        <i class="fa-solid fa-house"></i>
                        Página inicial
                    </a>
                </li>

                <!-- Botão de COMENTÁRIO -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-solid fa-comments"></span>
                        Comentário
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdown1">
                        <a class="dropdown-item text-light" href="#">Início</a>
                        <a class="dropdown-item text-light" href="#">Cadastrar</a>
                    </div>
                </li>

                <!-- Botão de HISTÓRICO PROFISSIONAL -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-solid fa-building-circle-check"></span>
                        Trabalho
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdown2">
                        <a class="dropdown-item text-light" href="#">Início</a>
                        <a class="dropdown-item text-light" href="#">Cadastrar</a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Pesquisar
                    </a>
                </li>
            </ul>

            <!-- Right aligned links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#signupModal">
                        <span class="fa fa-user"></span>
                        Perfil
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">
                        <span class="fa-solid fa-right-from-bracket"></span>
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- JS necessários para os dropdowns funcionarem -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>