<header th:fragment="cursoHome">
  <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand">
          <i class="fa-solid fa-bars"></i>
          Lista de Cursos
      </a>
      <a href="/cursos/cadastrar" class="btn btn-warning text-light navbar-btn">
          <i class="fa-solid fa-pen-to-square"></i>
          Cadastrar Curso
      </a>
  </nav>
</header>

<header th:fragment="cursoCadastrar">
  <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand">
          <i class="fa-solid fa-bars"></i>
          Cadastro de Cursos
      </a>
      <a href="/cursos" class="btn btn-warning text-light navbar-btn">
          <i class="fa-solid fa-house"></i>
          Lista de Cursos
      </a>
  </nav>
</header>
