<main th:fragment="login" class="d-flex align-items-center vh-100">
    <div class="central-form">
        <h2 class="form-title">Iniciar Sessão</h2>

        <form method="POST" class="form-body" th:action="@{/login}">

            <div class="alert alert-danger" th:if="${loginErrado}">
                O e-mail/RA e a senha não correspondem.
            </div>

            <div class="row">
                <!-- Campo de e-mail ou RA -->
                <div class="form-floating col-md-12">
                    <input type="text" class="form-control" placeholder=" " name="username" required>
                    <label>Email ou RA</label>
                </div>

                <!-- Campo de senha -->
                <div class="form-floating col-md-12">
                    <input type="password" class="form-control" placeholder=" " name="password" required>
                    <label>Senha</label>
                </div>

                <!-- Link "Esqueceu a senha?" -->
                <div class="col-md-12 mb-2">
                    <a href="#" class="text-decoration-none">Esqueceu a senha?</a>
                </div>

                <!-- Botão de login -->
                <button class="btn btn-primary btn-form" type="submit">
                    <i class="fas fa-sign-in-alt"></i>
                    Entrar
                </button>
            </div>
        </form>
    </div>
</main>