<main th:fragment="logout" class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-white p-4 rounded-4 logout-container">
        <h3 class="mb-3">
            Deseja sair?
        </h3>

        <p class="text-center mb-4 logout-text">
            Você poderá entrar novamente a qualquer momento.
        </p>

        <div class="d-grid gap-2 w-100">
            <form th:action="@{/logout}" method="POST">
                <button type="submit" class="btn btn-light fw-bold rounded-pill w-100">
                    Sair
                </button>
            </form>

            <a th:href="@{/}" class="btn btn-outline-light fw-bold rounded-pill custom-cancel">
                Cancelar
            </a>
        </div>
    </div>
</main>