    /* Estilização geral*/
body {
    background-color: #121212;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn {
    padding: 10px 25px;
    font-size: 18px;
}

i {
    margin-right: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 60%;
}


    /* Barra de Navegação */
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #343A40;
    color: #FFF;
}


    /* Rodapé */
footer {
    margin-top: auto;
}

footer .container-fluid {
    padding: 10px 0;
    text-align: center;
    background-color: #CCC;
}

.container-fluid p {
    margin-bottom: 0;
    font-size: 14px;
}

.container-fluid a {
    font-weight: bold;
    color: #222;
}


    /* Formulário */
.central-form {
    max-width: 470px;
    margin: 30px auto;
    padding: 60px;
    background-color: #202020;
    color: white;
    border-radius: 5px;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
}

.form-floating label {
    padding-left: 25px;
}

.form-floating {
    margin: 20px auto;
}

.error-message {
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    padding: 16px 0;
}

.btn-form {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 15px;
}

input[type="text"],
input[type="date"],
select.form-select {
    background-color: #202020;
    color: white;
    color-scheme: dark;
    font-size: 0.95em;
}

.form-floating input:focus,
input:-webkit-autofill {
    background-color: #202020;
    color: white;
    transition: background-color 0s 300s;
    -webkit-text-fill-color: white;
}


    /* Bootstrap Modal */
.modal .modal-dialog {
    font-family: 'Varela Round', sans-serif;
    max-width: 340px;
}

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-header {
    background-color: #D50000;
    border-radius: 0;
}

.modal-title,
.btn-close {
    color: #fff;
    opacity: 1;
}

.modal .modal-body {
    text-align: center;
}

.modal-body .icon-box {
    width: 80px;
    height: 80px;
    margin: 5px auto 30px auto;
    padding: 22px;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #F15E5E;
}

.icon-box i {
    color: #F15E5E;
    font-size: 30px;
    margin: 0;
}

.modal-body p {
    font-size: 17px;
    margin-bottom: 3px;
}

.modal-body #warning {
    font-size: 15px;
    margin-top: 10px;
}

.modal-footer {
    justify-content: center;
}

.modal-footer .btn {
    background-color: #D50000;
    color: #FFF;
    text-transform: uppercase;
    width: 110px;
    height: 50px;
    border: 2px solid #D50000;
}

.modal-footer .btn-confirm {
    background-color: #FFF;
    color: #D50000;
}