<main th:fragment="tabela">
    <table class="table table-dark table-bordered table-hover table-responsive-lg">
        <caption th:text="${legenda}"></caption>
        <thead>
            <tr>
                <th>RA</th>
                <th>Nome</th>
                <th>Curso: nome</th>
                <th>Turma: ano</th>
                <th>Turma: semestre</th>
                <th>Turma: turno</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td class="col-xxl-1 col-xl-1 col-lg-1" th:text="${aluno.ra}"></td>
                <td class="col-xxl-3 col-xl-3 col-lg-3" th:text="${aluno.nome}"></td>
                <td class="col-xxl-3 col-xl-3 col-lg-3" th:text="${aluno.turma.curso.nome}"></td>
                <td class="col-xxl-1 col-xl-1 col-lg-1" th:text="${aluno.turma.ano}"></td>
                <td class="col-xxl-2 col-xl-1 col-lg-1" th:text="${aluno.turma.semestre}"></td>
                <td class="col-xxl-1 col-xl-1 col-lg-1" th:text="${aluno.turma.turno}"></td>
                <td class="col-xxl-1 col-xl-2 col-lg-2">
                    <a th:href="@{/alunos/perfil/{id}(id=${aluno.ra})}">
                        <i class="fa-solid fa-eye text-success"></i>
                    </a>
                    <a th:href="@{/alunos/editar/{id}(id=${aluno.ra})}">
                        <i class="fa-solid fa-pen text-primary"></i>
                    </a>
                    <a th:attr="onclick=|excluirRegistro('${aluno.nome}', '/alunos/excluir/${aluno.ra}')|" type="button" data-bs-toggle="modal" data-bs-target="#modalId">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>