<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: geral('Pesquisar Alunos')}"></head>

<body>
    <header th:replace="~{autenticacao/NavbarFragment}"></header>

    <main th:replace="~{aluno/AlunoFormularioPesquisar}"></main>

    <!-- Resultado da pesquisa quando não está vazia -->
    <th:box th:if="${alunos != null && !alunos.isEmpty()}">
        <main th:replace="~{aluno/AlunoTabela}"></main>
    </th:box>

    <!-- Resultado da pesquisa quando está vazia -->
    <div th:if="${alunos == null || alunos.isEmpty()}" class="card-body text-center text-muted" >
        <p>Nenhum aluno foi encontrado nesta pesquisa.</p>
    </div>

    <footer th:replace="~{fragments/footer}"></footer>

    <script type="text/javascript" th:src="@{/js/formularioPesquisarAluno.js}"></script>
</body>
</html>